
h1 {
  text-align: center;
}

h2 {
  margin-top: 40px;
}



.content_app {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.product-item {
  width: 230px;
  flex: 0 0 250px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  transition: all 0.3s ease;
  background-color: black;
  color: #fff;
}

.container {
  background-color: antiquewhite;
  width: 100%;
  height: 100%;
}

.product-item:hover {
  transform: scale(1.05);
}

.product-item img {
  width: 100%;
  height: 250px;
  background-size: cover;
}

.product-item h4 {
  margin-top: 0;
}

.product-item p,
.product-item button {
  display: none;
}

.product-item:hover p,
.product-item:hover button {
  display: block;
}

.product-item p {
  margin-bottom: 10px;
}

.product-item button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.product-item button:hover {
  background-color: #0056b3;
}

.product-app {
  display: flex;
  margin-left: 30px;
}



